.success-page {
  background: #CE2829;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.success-page > .footer {
  margin-top: auto;   /* footer hep en alta yapışır */
}
.success-tagline {
  font-family: var(--font-satisfy);
  color: var(--yellow);
  font-size: 28px;
  margin-bottom: 6px;
}

.success-title {
  font-family: var(--font-roboto);
  font-weight: 300;
  font-size: 64px;
  margin: 8px 0 10px;
}

.success-hr {
  width: 520px;
  max-width: 70vw;
  border: none;
  border-top: 1px solid rgba(255,255,255,.7);
  margin: 18px auto 28px;
}

.success-details {
  max-width: 420px;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.6;
  font-family: var(--font-barlow);
  font-size: 14px;
}

.pizza-title {
  font-weight: 700;
  text-align: center;
  margin: 12px 0 14px;
}

.success-box {
  margin-top: 16px;
  margin-bottom: 50px;
  border: 1px solid rgba(255,255,255,.6);
  border-radius: 6px;
  padding: 18px 22px;
  width: 100%;
  max-width: 420px;   /* taşmayı engellemek için */
  box-sizing: border-box; /* padding + border genişliği hesaplasın */
}


.row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.total {
  color: var(--yellow);
  font-weight: 700;
}
